<div class="col-md-6">
  <div ng-if="entity.category.name == 'Работа'" class="panel panel-default">
    <a href="#/advert/details/{{entity.id}}" class="cliclable">
      <div class="panel-heading advert-panel-header-danger">
        <h3>
          <small class="pull-right"><p><span class="glyphicon glyphicon-briefcase"></span> {{ entity.category.name }}
          </p></small>
          <span class="glyphicon glyphicon-bullhorn"></span> {{ entity.advertName }}
        </h3>
      </div>
    </a>

    <div class="panel-body">
      <div class="caption">
        <h4>Град: {{ entity.city.name }}</h4>
        <h4>Работна позиција: {{ entity.advertDescription.typeOfDeal }}</h4>
        <h4>Работни часови дневно: {{
          entity.advertDescription.dailyWorkingHours }}</h4>
        <h4>Бруто плата: {{ entity.advertDescription.basicSalary }}</h4>
      </div>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary btn-xs" ng-click="addToCart()">
        <i class="fa fa-fw fa-shopping-cart"></i> Add to cart &nbsp;<span
        class="glyphicon glyphicon-shopping-cart"></span>
      </button>
    </div>
    <br>
    <br>

    <div class="col-md-2">
      <button class="btn btn-dangerous btn-xs" ng-click="addToFavorite()">
        <i class="fa fa-fw fa-star"></i> Add to favorite &nbsp;<span
        class="glyphicon glyphicon-star"></span>
      </button>
    </div>
    <br>
    <br>
    <a href="#/advert/details/{{entity.id}}" class="btn btn-danger btn-block btn-lg advert-btn-style">
      <span class="glyphicon glyphicon-pencil"></span> Повеќе
    </a>
  </div>

  <div ng-if="entity.category.name == 'Пракса'" class="panel panel-default">
    <a href="#/advert/details/{{entity.id}}" class="cliclable">
      <div class="panel-heading advert-panel-header-primary">
        <h3>
          <small class="pull-right"><p><span class="glyphicon glyphicon-road"></span> {{ entity.category.name }}</p>
          </small>
          <span class="glyphicon glyphicon-bullhorn"></span> {{ entity.advertName }}
        </h3>
      </div>
    </a>
    <div class="panel-body">
      <div class="caption">
        <h4>Град: {{ entity.city.name }}</h4>
        <h4>Работна позиција: {{ entity.advertDescription.typeOfDeal }}</h4>
        <h4>Работни часови дневно: {{
          entity.advertDescription.dailyWorkingHours }}</h4>
        <h4>Бруто плата: {{ entity.advertDescription.basicSalary }}</h4>
      </div>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary btn-xs" ng-click="addToCart()">
        <i class="fa fa-fw fa-shopping-cart"></i> Add to cart &nbsp;<span
        class="glyphicon glyphicon-shopping-cart"></span>
      </button>
    </div>
    <br>
    <br>

    <div class="col-md-2">
      <button class="btn btn-dangerous btn-xs" ng-click="addToFavorite()">
        <i class="fa fa-fw fa-star"></i> Add to favorite &nbsp;<span
        class="glyphicon glyphicon-star"></span>
      </button>
    </div>
    <br>
    <br>
    <a href="#/advert/details/{{entity.id}}" class="btn btn-primary btn-block btn-lg advert-btn-style">
      <span class="glyphicon glyphicon-pencil"></span> Повеќе
    </a>
  </div>

  <div ng-if="entity.category.name == 'Волонтирање'" class="panel panel-default">
    <a href="#/advert/details/{{entity.id}}" class="cliclable">
      <div class="panel-heading advert-panel-header-success">
        <h3>
          <small class="pull-right"><p><span class="glyphicon glyphicon-magnet"></span> {{ entity.category.name }}</p>
          </small>
          <span class="glyphicon glyphicon-bullhorn"></span> {{ entity.advertName }}
        </h3>
      </div>
    </a>
    <div class="panel-body">
      <div class="caption">
        <h4>Град: {{ entity.city.name }}</h4>
        <h4>Работна позиција: {{ entity.advertDescription.typeOfDeal }}</h4>
        <h4>Работни часови дневно: {{
          entity.advertDescription.dailyWorkingHours }}</h4>
        <h4>Бруто плата: {{ entity.advertDescription.basicSalary }}</h4>
      </div>
    </div>

    <div class="col-md-2">
      <button class="btn btn-primary btn-xs" ng-click="addToCart()">
        <i class="fa fa-fw fa-shopping-cart"></i> Add to cart &nbsp;<span
        class="glyphicon glyphicon-shopping-cart"></span>
      </button>
    </div>
    <br>
    <br>

    <div class="col-md-2">
      <button class="btn btn-dangerous btn-xs" ng-click="addToFavorite()">
        <i class="fa fa-fw fa-star"></i> Add to favorite &nbsp;<span
        class="glyphicon glyphicon-star"></span>
      </button>
    </div>
    <br>
    <br>
    <a href="#/advert/details/{{entity.id}}" class="btn btn-success btn-block btn-lg advert-btn-style">
      <span class="glyphicon glyphicon-pencil"></span> Повеќе
    </a>
  </div>

</div>
