<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-sx-12">
    <div class="panel top-buffer">
      <h2 class="text-center">Book</h2>
      <div class="panel-body">
        <label>Name</label>
        <input type="text"
               class="form-control"
               ng-model="entity.name" />
        <br/>
        <div>
          <combo combo-type="categories" combo-required="true"
                 combo-label="wp.category"
                 combo-model="entity.category"
                 combo-name="category">
          </combo>
        </div>
        <div>
          <label>Price</label>
          <input type="number"
                 class="form-control"
                 ng-model="entity.price" />
        </div>
        <div>
          <label>Is promoted</label>
          <input type="checkbox"
                 ng-model="entity.promoted" />
        </div>
        <div>
          <label>Description</label>
				<textarea rows="5" cols="58"
                  ng-model="entity.description"></textarea>
        </div>


        <button ng-click="save()" class="btn btn-info center-block">
          <i class="glyphicon glyphicon-save"></i>
          Save
        </button>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <h2 class="text-center">Books</h2>
    <br/><br/>
    <table class="top-buffer table table-responsive">
      <tr>
        <th class="text-center">Име</th>
        <th class="text-center">Категорија</th>
        <th class="text-center">Акција</th>
      </tr>
      <!-- one tr element for each grade -->
      <tr ng-repeat="e in entities" class="text-center">
        <td>{{ e.name }}</td>
        <td>{{ e.category.name }}</td>
        <td>
          <button ng-click="edit(e.id)" class="btn btn-danger btn-sm ">
            <i class="glyphicon glyphicon-plus"></i> Промени
          </button>
          <button ng-click="remove(e.id)" class="btn btn-danger btn-sm">
            <i class="glyphicon glyphicon-minus"></i>
            Избриши
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>
