<div class="row">
	<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
		<div class="panel top-buffer">
			<h2>Држава</h2>
			<div>
				<label>Име</label> <input type="text" class="form-control"
					ng-model="entity.name" />
			</div>

			<button ng-click="save()">
				<i class="glyphicon glyphicon-save"></i> Зачувај
			</button>
		</div>
	</div>


	<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
		<h2>Држави</h2>
		<table class="top-buffer">
			<tr>
				<th>Име</th>
				<th>Промени/Избриши</th>
			</tr>
			<!-- one tr element for each grade -->
			<tr ng-repeat="e in entities">
				<td>{{ e.name }}</td>
				<td>
					<button ng-click="edit(e.id)" class="btn btn-danger btn-xs">
						<i class="glyphicon glyphicon-plus"></i> Промени
					</button>
					<button ng-click="remove(e.id)" class="btn btn-danger btn-xs">
						<i class="glyphicon glyphicon-minus"></i> Избриши
					</button>
				</td>
			</tr></table>
			</div>
			</div>
			</div>
