<div class="row" style="margin-left: 15px">
  <h2 class="text-center  "><p><span class="glyphicon glyphicon-star "></span>Омилени огласи</p></h2><hr>
  <div ng-repeat="entity in entities">
    <div class="col-md-4">
      <div ng-if="entity.advert.category.name == 'Работа'"  class="panel panel-default">
        <a href="#/advert/details/{{entity.advert.id}}" class="cliclable">
          <div class="panel-heading advert-panel-header-danger">
            <h3 class="text-center">

              {{ entity.advert.advertName }}<br/>
              <div class=" text-capitalize" style="font-size: small; margin-top:2% "><p><span class="glyphicon glyphicon-briefcase"></span> {{ entity.advert.category.name }}
              </p></div>
            </h3>
          </div>
        </a>

        <div class="panel-body">
          <div class="caption">
            <h4><b>Град: </b>{{ entity.advert.city.name }}</h4>
            <h4><b>Работна позиција: </b>{{ entity.advert.advertDescription.typeOfDeal }}</h4>
            <h4><b>Работни часови дневно: </b>{{
              entity.advert.advertDescription.dailyWorkingHours }}</h4>
            <h4><b>Бруто плата: </b>{{ entity.advert.advertDescription.basicSalary }}</h4>
          </div>
        </div>
        <a href="#/advert/details/{{entity.advert.id}}" class="btn btn-danger btn-block btn-lg advert-btn-style">
          <span class="glyphicon glyphicon-pencil"></span> Повеќе
        </a>
      </div>

      <div ng-if="entity.advert.category.name == 'Пракса'" class="panel panel-default">
        <a href="#/advert/details/{{entity.advert.id}}" class="cliclable">
          <div class="panel-heading advert-panel-header-primary">
            <h3 class="text-center">

              {{ entity.advert.advertName }}<br/>
              <div class=" text-capitalize" style="font-size: small; margin-top:2% "><p><span class="glyphicon glyphicon-road"></span> {{ entity.advert.category.name }}
              </p></div>
            </h3>
          </div>
        </a>
        <div class="panel-body">
          <div class="caption">
            <h4><b>Град: </b>{{ entity.advert.city.name }}</h4>
            <h4><b>Работна позиција: </b>{{ entity.advert.advertDescription.typeOfDeal }}</h4>
            <h4><b>Работни часови дневно:</b> {{
              entity.advert.advertDescription.dailyWorkingHours }}</h4>
            <h4><b>Бруто плата:</b> {{ entity.advert.advertDescription.basicSalary }}</h4>
          </div>
        </div>
        <a href="#/advert/details/{{entity.advert.id}}" class="btn btn-primary btn-block btn-lg advert-btn-style">
          <span class="glyphicon glyphicon-pencil"></span> Повеќе
        </a>
      </div>

      <div ng-if="entity.advert.category.name == 'Волонтирање'" class="panel panel-default">
        <a href="#/advert/details/{{entity.advert.id}}" class="cliclable">
          <div class="panel-heading advert-panel-header-success">
            <h3 class="text-center">

              {{ entity.advert.advertName }}<br/>
              <div class=" text-capitalize" style="font-size: small; margin-top:2% "><p><span class="glyphicon glyphicon-magnet"></span> {{ entity.advert.category.name }}
              </p></div>
            </h3>
          </div>
        </a>
        <div class="panel-body">
          <div class="caption">
            <h4><b>Град: </b>{{ entity.advert.city.name }}</h4>
            <h4><b>Работна позиција: </b>{{ entity.advert.advertDescription.typeOfDeal }}</h4>
            <h4><b>Работни часови дневно: </b>{{
              entity.advert.advertDescription.dailyWorkingHours }}</h4>
            <h4><b>Бруто плата: </b>{{ entity.advert.advertDescription.basicSalary }}</h4>
          </div>
        </div>
        <a href="#/advert/details/{{entity.advert.id}}" class="btn btn-success btn-block btn-lg advert-btn-style">
          <span class="glyphicon glyphicon-pencil"></span> Повеќе
        </a>
      </div>

    </div>
  </div>
</div>
